<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
</head>

<body>
    <h1>Sistema de Gestão</h1>
    <p>Bem-vindo ao sistema desenvolvido com Flask.</p>
    <nav>
        <a href="/">Início</a> |
        <a href="/revisao">Revisão</a> |
        <a href="/revisao/palavra/500">Parametros</a>
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>